<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.dao.UserHeadDao">



    <select id="add" parameterType="String" resultType="UserHead">

        insert into user_poto values (#{id},#{userId},#{head_sculpture_id},#{path},#{delFlag},#{createTime})

    </select>

    <insert id="update" parameterType="UserHead">
        update user_poto set delFlag=${delFlag} where userId=#{userId}
    </insert>


    <select id="delete" parameterType="String" resultType="UserHead">

        update user_poto set delFlag=${delFlag} where userId=#{userId}
    </select>

    <select id="findOne" parameterType="String" resultType="UserHead">

        select id,userId,head_sculpture_id,path,delFlag,createTime
        from user_poto where userId=#{userId}
    </select>
</mapper>